body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  padding: 20px;
}

.counter-contain {
  border: 1px solid #2196f3;
  width: max-content;
  padding: 10px 20px;
  margin: 7px;
}

.counter-button {
  background-color: #2196f3;
  border: none;
  color: white;
  padding: 4px 11px;
}
.counter-button:hover {
  background-color: #1662a1;
}

.counter-number {
  padding: 15px;
}

.carousel-contain {
  width: max-content;
  padding: 7px;
  display: flex;
}
.carousel-button {
  border: none;
  padding: 4px 11px;
  margin-top: 105px;
  height: fit-content;
}

.clickable-button {
  width: 100px;
  height: 100px;
  background-size: cover;
  border: none;
  cursor: pointer;
  margin-left: 7px;
}

.discoButton {
  display: flex;
}
